* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #fcf8f2;
    border-bottom: 3px solid #8b0000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


.logo a {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
}

.logo span {
    color: #8b0000;
}

.nav-menu ul {
    display: flex;
    list-style: none;
}

.nav-menu li {
    margin: 0 20px;
}

.nav-menu a {
    text-decoration: none;
    color: #555;
    font-weight: 600;
    transition: color 0.3s;
}

.nav-menu a:hover {
    color: #8b0000; 
}

.btn-prenota {
    display: inline-block;
    padding: 10px 20px;
    background-color: #8b0000;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background 0.3s;
}

.btn-prenota:hover {
    background-color: #a01010;
}